<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="testid" name="testname" schema="schema/testid.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ru.agentlab.dsl15926.presentation.Dsl15926ModelWizardID"
            name="%_UI_Dsl15926ModelWizard_label"
            class="ru.agentlab.dsl15926.presentation.Dsl15926ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Dsl15926ModelFile.gif">
         <description>%_UI_Dsl15926ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="ru.agentlab.dsl15926.presentation.Dsl15926EditorID"
            name="%_UI_Dsl15926Editor_label"
            icon="icons/full/obj16/Dsl15926ModelFile.gif"
            extensions="dsl15926"
            class="ru.agentlab.dsl15926.presentation.Dsl15926EditorCustom"
            contributorClass="ru.agentlab.dsl15926.presentation.Dsl15926ActionBarContributor">
      </editor>
   </extension>

</plugin>
