<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="dsl15926.editor.all" sequenceNumber="24">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.source" version="10.0.1.v201203051515"/>
<unit id="com.google.guava" version="10.0.1.v201203051515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.3.1.v201209061455"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201208201742"/>
<unit id="org.eclipse.gmf.feature.group" version="1.6.0.v20120517-1809-7d9X7FFYnmMJUVOKcqPSgIiK281V"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.6.0.v20120517-1809-67R09E9QuFflXswwIO_z0E3d4k_X"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.0.0.RC4a"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.0.0.RC4a"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.3.1.v201209061455"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.1.0.201205150811"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.emf4sw.rdf.jena.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.owl.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.rdf.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.rdf.json.feature.feature.group" version="0.1.0.v20110518-2031"/>
<unit id="com.emf4sw.rdf.transform.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.rdf.sesame.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.owl.jena.feature.feature.group" version="0.7.1.v20110518-2031"/>
<unit id="com.emf4sw.owl.transform.feature.feature.group" version="0.7.1.v20110518-2031"/>
<repository location="http://svn.codespot.com/a/eclipselabs.org/emf4sw/snapshots/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.openjena.feature.feature.group" version="2.6.4"/>
<unit id="org.openrdf.feature.feature.group" version="2.4.0"/>
<unit id="org.codehaus.jackson.feature.feature.group" version="1.7.4"/>
<repository location="http://svn.codespot.com/a/eclipselabs.org/emf4sw/dependencies/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.atl.common.feature.feature.group" version="0.7.1.201105162128"/>
<repository location="http://svn.codespot.com/a/eclipselabs.org/atl-commons/snapshots/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
</target>
