<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="ru.agentlab.dsl15926.diagram.Dsl15926DiagramTypeProvider"
            id="ru.agentlab.dsl15926.DiagramEditor"
            name="DSL 15926 Diagram Editor">
         <diagramType
               id="ru.agentlab.dsl15926.Diagram">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="ru.agentlab.dsl15926.Diagram"
            name="DSL 15926 Diagram"
            type="Dsl 15926">
      </diagramType>
   </extension>

</plugin>
